html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*移動顯示圖片用*/
#hoverTarget {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    transition: background-image 0.3s ease;
    background-size: cover;
    background-position: center;
    color: #000;
}

    #hoverTarget.hovered {
        background-image: url('/image/line.png');
        color: transparent; /* 隱藏文字 */
    }

    .color-box {
        width: 200px;
        height: 150px;
        background-color: white;
        border: 1px solid #ccc;
        margin: 10px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

/*表格用的樣式*/
.cname {
    color: blue;
}

.ename {
    color: green;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}